body {
    font-family: Arial;
    background: #f7f7f7;
    margin: 0;
}

.navbar {
    background: #252525;
    padding: 10px;
}

.navbar a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
}

#progress-container {
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    height: 20px;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: #4caf50;
    border-radius: 5px;
    transition: width 0.2s;
}
